
<body>

    <div id="main">
        <div class="header">
            <h1>Portfolio</h1>
            <h2>Caroline Smedts</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">About Me</h2>
            <p>
                My name is Caroline. I'm a Graphic & Digital Design student at AP Hogeschool in Antwerp. <br>
                  I love webdesign and graphic design.  I'm also interested in photography and fashion. <br>
                  This year I was an intern at <a href="www.labellov.com">Labellov</a> and I'll be interning at <a href="www.tutuchic.cbe">Tutu Chic</a> next year.<br>
                  For more information, don't hesitate to <a href="#contact">contact</a> me.
            </p>

            <h2 class="content-subhead">Some Projects</h2>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="https://s30.postimg.org/k4v42d975/IMG_5050.jpg" alt="publishing">
                </div>

                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="https://scontent-amt2-1.xx.fbcdn.net/v/t31.0-8/15271864_351661245191565_6904449161748987217_o.jpg?oh=a48177ca8b766196945c8e46813d758c&oe=58F718EB" alt="patch">
                </div>
                  <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="https://s27.postimg.org/qeesxy7kj/IMG_4399.jpg" alt="guide">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="https://s29.postimg.org/btol551tz/Schermafbeelding_2016_12_12_om_20_49_29.png" alt="fotoboek">
                </div>
            </div>
          </div>

            <h2 class="content-subhead" id="contact">Contact Me</h2>
           <div class="form">
<div class="pure-g">
      <div class="pure-u-1 white center">
            <form class="pure-form extra">
                <fieldset class="pure-group">
                    <input type="text" class="pure-input-1" placeholder="Name">
                    <input type="text" class="pure-input-1" placeholder="Email">
                </fieldset>
                <fieldset class="pure-group">
                    <input type="text" class="pure-input-1" placeholder="Subject">
                    <textarea class="pure-input-1" placeholder="Message..."></textarea>
                </fieldset>
                <button type="submit" class="pure-button pure-input-1 pure-button-active">Send</button>
            </form>
      </div>
</div>

</div>

</div>


<script src="js/ui.js"></script>

</body>
